@import "foundation";
@import "settings/zalando";
@import "components/asciidoc";
@import "components/awesome-icons";

.must-keyword {
  color: $must-color;
}

.should-keyword {
  color: $should-color;
}

.may-keyword {
  color: $may-color;
}

.sect1 {
  max-width: 768px;
}