@import "foundation";
@import "settings/zalando";
@import "components/asciidoc";
@import "components/awesome-icons";

.must-keyword {
  color: $must-color;
}

.should-keyword {
  color: $should-color;
}

.may-keyword {
  color: $may-color;
}

.status-code, .status-code:link, .status-code:visited, .status-code:hover, .status-code:active {
  color: black;
  font-weight: bold;
}

/* HTTP Status Codes custom text span syntax / roles / highlight */
.status-code-hint {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  padding: 4px 2px 0px 2px;
  font-size: 0.8em;
}

.status-code-hint.mustnot {
  color: white;
  background-color: red;
  border-color: red;
}

.status-code-hint.should {
  color: white;
  background-color: rgb(50, 192, 50);
  border-color: rgb(50, 192, 50);
}

.status-code-hint.shouldnot {
  color: #595959;
  background-color: rgb(229, 232, 45);
  border-color: rgb(229, 232, 45);
}

.status-code-hint.may {
  color: white;
  background-color: rgb(105, 105, 245);
  border-color: rgb(105, 105, 245);
}

.status-code-methods {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  padding: 4px 2px 0px 2px;
  font-size: 0.8em;
}

.do-not-use {
  color: gray;
}

.do-not-use h5 > a {
  color: gray;
}

.indent {
  padding-left: 4rem;
}

.sect1 {
  max-width: 45em;
}

#content #toc {
  max-width: 45em;
}

code {
  font-size: .85em !important;
}

p > code {
  background-color: #f0f0f0;
  padding: .1em .4em .1em .4em !important;
  font-size: .9em !important;
  color: inherit;
}

a > code {
  background-color: #f0f0f0;
  padding: .1em .4em .1em .4em !important;
  font-size: .9em !important;
  color: black;
}

.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
  padding: .5em !important;
}

#toc a {
  color: #364149;
}
