sudo: required

language: java

jdk:
    - oraclejdk8

install:
  # Clone Zally
  - git clone https://github.com/zalando-incubator/zally.git

  # Build a local Zally server
  - cd zally
  - gradle build

  # Launch local zally server
  - echo "spring.profiles.active=dev" > application.properties
  - gradle bootRun > /dev/null &

  # Wait until Spring Boot will start
  - sleep 10

  # Build Zally CLI
  - cd cli
  - gradle zallyJar
  - cp build/libs/zally.jar bin/
  - cd ..

script:
  # Validate swagger/zally-test.json file from original repository
  - cd cli
  - bin/zally ../../swagger/zally-test.json
